/*Home Page*/

#body {
  background-image: url("../images/jewish-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: #f5f2f2;
  font-family: 'Lato', sans-serif;
}

h1 {
  padding-top: 50px;
}

.info {
  padding: 20px;
  margin: 0 auto;
}

.info ul {
  padding-bottom: 10px;
}


/*Provider Profiles*/

.page-title {
  text-align: center;
}

.card-columns {
  width: 100%;
}

.card-container {
    display: grid;
    padding: 1rem;
    grid-gap: .5em;
    margin-left: .5em;
    margin-right: .5em;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    vertical-align: top;
    margin: 0;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
}

.inner-card img {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 188px;
  border-radius: 10%;
}

.inner-card {
  max-width: 90%;
  padding: 15px;
  padding-right: 0;
}

.inner-card h2 {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}

.inner-card p{
  margin: 0;
  text-align: left;
  font-size: 14px;
}

.title {
    color: grey;
    font-size: 18px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}




/*MEDIA QUERIES*/

@media screen and (min-width: 420px) {
  .inner-card img {
    width: 188px;
    height: 235px;
  }
}

@media screen and (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media screen and (min-width: 750px) {
  .inner-card img {
    width: 169px;
    height: 211px;
  }
}

@media screen and (min-width: 1000px) {
  .inner-card h2 {
    font-size: 16px;
  }
  .card-columns {
    column-count: 3;
  }
}











